body{
    background-color:#f7f7f7;
    font-family: 'Lato', sans-serif;
    color: #636363;
}
h1{
    color: #333333;
    font-size:60px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    
}
h2{
    color: #333333;
    font-size:18px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
    
}

.white-bg{
    background-color: #fff;
    padding: 120px 0px;
}

p{
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
    text-align: justify;
}

.portrait-img{
    margin:120px 30px;
}

.content-div{
    margin: 0px 0px 100px 0px;
}