body{
    background-color:#e7e7e7;
    font-family: 'Lato', sans-serif;
    color: #636363;
    position: relative;
}
h1{
    color: #333333;
    font-size:60px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    
}
h2{
    color: #333333;
    font-size:18px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
    
}

.white-bg{
    background-color: #fff;
}

p{
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
    text-align: justify;
}

.portrait-img{
    margin:120px 30px;
}

.content-div{
    padding: 120px 0px 0px 0px;
}

.page-link, .page-link:focus{
    color: #636363;
    text-transform: uppercase;
    border: 2px solid #b6657c;
    border-radius: 20px;
    transition: background-color 0.3s ease-out; 
}

.page-link:hover{
    color: #fff;
    background-color: #b6657c;
    transition: background-color 0.5s ease-out; 
}

.more{
    font-size: 14px;
    padding: 8px 25px;
}

.home{
    font-size: 20px;
    border-radius: 50% !important;
    
}

.menu{
    margin: 150px 0px 0px 0px;
    position: fixed;
}

.menu-list{
    position: relative;
}

.menu-list ul{
    font-size: 14px;
    margin-left: -20px;
    margin-bottom: 65px;

}

.menu-list ul li{
    list-style: none;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 50px;
}

.menu-list ul li:last-child{
    margin-bottom: -5px;
}

.menu-list ul li a, .menu-list ul li a:active{
    color: #636363;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding-left: 20px;
}

.menu-list ul li a:hover{
    text-decoration: none;
    color: #000;
}

.menu-list ul li a::before{
    content: "";
    position: absolute;
    z-index: 3;
    display:inline-block;
    top: 5px;
    left: -2px;
    width: 10px;
    height: 10px;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
    background-color:#fff;
}

li.active a::before{
    background-color: #b6657c !important;
    border: none !important;
    border: none;
}

.grey-progres{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 22px;
    background-color: #d3d3d3;
    width: 2px;
    height: 100%;
}

.color-progres{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 22px;
    background-color: #b6657c;
    width: 2px;
    transition: all 0.2s ease-in;
}

.copyrights{
    text-align: center;
    font-style: italic;
    padding: 80px 0px;
    font-size: 16px;
    color: #d3d3d3;
}