body{
    background-color:#f7f7f7;
    font-family: 'Lato', sans-serif;
}
h1{
    color: #333333;
    font-size:60px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    padding: 20px 0px;
}
h2{
    color: #333333;
    font-size:18px; 
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0px;
}